In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('credit_scoring_sample.csv')

In [4]:
data.shape

(45063, 8)

In [5]:
data.head()

,SeriousDlqin2yrs,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,NumberOfTimes90DaysLate,NumberOfTime60-89DaysPastDueNotWorse,MonthlyIncome,NumberOfDependents
0,0,64,0,0.249908,0,0,8158.0,0.0
1,0,58,0,3870.000000,0,0,NaN,0.0
2,0,41,0,0.456127,0,0,6666.0,0.0
3,0,43,0,0.000190,0,0,10500.0,2.0
4,1,49,0,0.271820,0,0,400.0,0.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45063 entries, 0 to 45062
Data columns (total 8 columns):
SeriousDlqin2yrs                        45063 non-null int64
age                                     45063 non-null int64
NumberOfTime30-59DaysPastDueNotWorse    45063 non-null int64
DebtRatio                               45063 non-null float64
NumberOfTimes90DaysLate                 45063 non-null int64
NumberOfTime60-89DaysPastDueNotWorse    45063 non-null int64
MonthlyIncome                           36420 non-null float64
NumberOfDependents                      43946 non-null float64
dtypes: float64(3), int64(5)
memory usage: 2.8 MB

In [8]:
data.describe()

,SeriousDlqin2yrs,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,NumberOfTimes90DaysLate,NumberOfTime60-89DaysPastDueNotWorse,MonthlyIncome,NumberOfDependents
count,45063.000000,45063.000000,45063.000000,45063.000000,45063.000000,45063.000000,3.642000e+04,43946.000000
mean,0.222489,51.210949,0.750993,352.062688,0.570712,0.505870,6.452263e+03,0.789628
std,0.415922,14.651533,6.184521,2467.556358,6.173106,6.153609,1.263817e+04,1.130813
min,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000,40.000000,0.000000,0.176373,0.000000,0.000000,3.286000e+03,0.000000
50%,0.000000,51.000000,0.000000,0.373949,0.000000,0.000000,5.166000e+03,0.000000
75%,0.000000,62.000000,0.000000,0.857027,0.000000,0.000000,8.000000e+03,1.000000
max,1.000000,107.000000,98.000000,326442.000000,98.000000,98.000000,1.794060e+06,10.000000

In [15]:
data2 = data.dropna(axis = 0, subset=['MonthlyIncome'])

In [19]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36420 entries, 0 to 45062
Data columns (total 8 columns):
SeriousDlqin2yrs                        36420 non-null int64
age                                     36420 non-null int64
NumberOfTime30-59DaysPastDueNotWorse    36420 non-null int64
DebtRatio                               36420 non-null float64
NumberOfTimes90DaysLate                 36420 non-null int64
NumberOfTime60-89DaysPastDueNotWorse    36420 non-null int64
MonthlyIncome                           36420 non-null float64
NumberOfDependents                      36420 non-null float64
dtypes: float64(3), int64(5)
memory usage: 2.5 MB

In [20]:
data2.describe()

,SeriousDlqin2yrs,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,NumberOfTimes90DaysLate,NumberOfTime60-89DaysPastDueNotWorse,MonthlyIncome,NumberOfDependents
count,36420.000000,36420.000000,36420.000000,36420.000000,36420.000000,36420.000000,3.642000e+04,36420.000000
mean,0.229462,50.298270,0.649478,28.624407,0.448545,0.385585,6.452263e+03,0.883608
std,0.420493,14.267377,5.134173,446.594563,5.113121,5.088125,1.263817e+04,1.160570
min,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000,40.000000,0.000000,0.145980,0.000000,0.000000,3.286000e+03,0.000000
50%,0.000000,50.000000,0.000000,0.304183,0.000000,0.000000,5.166000e+03,0.000000
75%,0.000000,60.000000,0.000000,0.501672,0.000000,0.000000,8.000000e+03,2.000000
max,1.000000,103.000000,98.000000,49112.000000,98.000000,98.000000,1.794060e+06,10.000000

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
scaler = StandardScaler()

In [23]:
data_std = scaler.fit_transform(data2)

In [27]:
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [29]:
kmeans = KMeans(n_clusters = )

SyntaxError: invalid syntax (<ipython-input-29-8d02472d760a>, line 1)

In [ ]:
cluster = list(range(1,11))
inert = []
for i in cluster:
    kmeans = KMeans( n_clusters = i ).fit(data_std)
    inert.append( kmeans.inertia_ )
else:
    sns.scatterplot(x = cluster, y = inert)